<div class="col-20">
  <div class="card border-blue border-lighten-2">
    <div class="text-center">
      <div class="card-body">
        <div class="rounded-circle" style="background-color: #593196">
            <img src="{{user.photoURL ? user.photoURL: '../../../assets/user.png' }}" class="rounded-circle  height-150" alt="Card image">
        </div>
      </div>
      <div class="card-body">
        <h4 class="card-title">{{user.knownAs + ', ' + user.age}}</h4>
        <h6 class="card-subtitle text-muted">{{user.city}}</h6>
      </div>
      <div class="text-center">
        <a class="btn" [routerLink]="['/members', user.id]" routerLinkActive="router-link-active">
          <span title="{{user.knownAs}}'s Profile" class="fa fa-user"></span>
        </a>
        <a class="btn" (click)="sendLike(user.id)">
          <span title="Heart {{user.knownAs}}" class="fa fa-heart" style="color: rgb(0, 156, 220)"></span>
        </a>
        <a class="btn" [routerLink]="['/members', user.id]" [queryParams]="{tab:'3'}">
          <span title="Message" class="fa fa-envelope"></span>
        </a>
      </div>
    </div>
  </div>
</div>