<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-primary">
  <a class="navbar-brand" [routerLink]="['/home']" routerLinkActive="router-link-active" >Hook-Me-Up</a>

  <div class="collapse navbar-collapse" id="navbar" >
    <ul class="navbar-nav mr-auto" *ngIf="loggedIn()">
      <li class="nav-item"><a class="nav-link" [routerLink]="['/members']" routerLinkActive="router-link-active" >Matches</a></li>
      <li class="nav-item"><a class="nav-link" [routerLink]="['/lists']" routerLinkActive="router-link-active" >Lists</a></li>
      <li class="nav-item"><a class="nav-link" [routerLink]="['/messages']" routerLinkActive="router-link-active" >Messages</a></li>
    </ul>

    <ul *ngIf="loggedIn()" class="navbar-nav mr-right">
      <li>
        <img class="rounded-circle" src="{{photoUrl}}" alt="">
      </li>
      <li class="nav-item dropdown" dropdown>
        <a class="nav-link dropdown-toggle" id="dropdown01" dropdownToggle>Welcome {{authService.decodedToken?.unique_name | titlecase}}</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01" *dropdownMenu>
          <a class="dropdown-item" [routerLink]="['/member/edit']" routerLinkActive="router-link-active" >Edit profile</a>
          <a class="dropdown-item" (click)="logout()">Logout</a>
        </div>
      </li>
    </ul>

    <form #loginForm="ngForm" *ngIf="!loggedIn()" class="form-inline ml-auto my-2 my-lg-0" (ngSubmit)="login()">
      <input class="form-control mr-sm-2" type="text" placeholder="Username" required name="username" [(ngModel)]="model.Username" aria-label="Search">
      <input class="form-control mr-sm-2"  type="password" placeholder="Password" required name="password" [(ngModel)]="model.Password" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" [disabled]="!loginForm.valid">Sign In</button>
    </form>
  </div>
</nav>