.img-thumbnail {
    height: 100px;
    width: 100px;
    margin-bottom: 4px;
}

.row {
    margin-bottom: 10px;
}

.my-drop-zone { 
    border: dotted 3px lightgray; 
}

.nv-file-over { 
    border: dotted 3px red; 
} 
    
.another-file-over-class { 
    border: dotted 3px green; 
}

input[type=file] {
    color: transparent;
}